@layer reset, base, layout, components, utilities;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
  }
  body {
    background-color: hsl(30, 90%, 90%);
  }
}

@layer base {
  h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p,
  a,
  span {
    font-size: 1rem;
  }
}

@layer layout {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: min(40rem, 85%);
    margin: auto;
  }
  .visible,
  .invisible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    .img-div {
      width: 5rem;
      height: 5rem;
      border-radius: 0.5rem;
      overflow: hidden;
      object-fit: cover;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        will-change: transform;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .item-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.2rem;
    gap: 0.2rem;
  }
  .pg-section {
    background-color: hsl(30, 20%, 80%);
    border: 0.5rem solid hsl(30, 15%, 70%);
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 1rem;
  }
}

@layer components {
  hr {
    border: 0.1rem solid hsl(30, 20%, 40%);
    width: 100%;
  }
  .section-divider {
    margin: 1rem 0;
  }
  .name {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  .item.programming .img {
    object-position: 30% 50%;
    transform-origin: 30% 50%;
  }
  .item.science .img {
    object-position: 50% 0%;
    transform-origin: 50% 0%;
  }
  .item-desc,
  .quote-desc {
    color: hsl(30, 20%, 20%);
  }
  .item.honesty .img {
    transform-origin: 50% 90%;
  }
  .item.organization .img {
    transform-origin: 0% 100%;
  }
  .item.school .img {
    transform-origin: 50% 100%;
  }
  .item.personality .img.isfj {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 50%, 50%);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }
}
